.facebook-color {
  background-color: #3b5998; }

.twitter-color {
  background-color: #00aced; }

.instagram-color {
  background-color: #C32AA3; }

.pinterest-color {
  background-color: #BD081C; }

.linkedin-color {
  background-color: #007bb6; }

.youtube-color {
  background-color: #FF0000; }

.google-plus-color {
  background-color: #DB4437; }

.snapchat-color {
  background-color: #FFFC00; }

.whatsapp-color {
  background-color: #25D366; }

.skype-color {
  background-color: #00AFF0; }

.yahoo-color {
  background-color: #430297; }

.group_color {
  background-color: #415464; }

.managers_color {
  background-color: #FF8400; }

.supplier_color {
  background-color: #8B8D4A; }

.client_color {
  background-color: #76236D; }

.resource_color {
  background-color: #A8353A; }

.delegates_color {
  background-color: #00609C; }

.white_color {
  background-color: #ffffff; }

.grey_color {
  background-color: #777777; }

/*# sourceMappingURL=colour-palette.css.map */
