html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em,
img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, hr,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, thead, tbody, tfoot, tr, th, td,
article, aside, canvas, details, figure, figcaption, main, hgroup,
menu, footer, header, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0; }

a:hover {
  color: #337ab7;
  text-decoration: none; }
a:focus {
  color: #337ab7;
  text-decoration: none;
  outline-offset: -2px; }

.clearfix {
  content: "";
  display: table;
  clear: both; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav,
section, summary {
  display: block; }

/*Float*/
.Pull-left {
  float: left; }

.pull-right {
  flot: right; }

/*font-weight*/
/*Alignment */
.text-right {
  text-align: right; }

.text-left {
  text-align: left; }

.text-center {
  text-align: center; }

/*# sourceMappingURL=reset.css.map */
