
@import 'reset';
@import 'button';
@import 'colour-palette';
@import 'font-size';
@import 'mixins';


.box-flow{ display:table; margin-bottom:15px; }

h1{color:$clients; margin-bottom:15px;}

.box{
	width:200px; 
	height:200px; 
	border:1px solid #eee; 
	float:left;margin-right:10px;
	background:#ccc
}

.xsmall-radius{border-radius:$border-r-xsmall;}

.small-radius{border-radius:$border-r-small;}

.xlarge-radius{border-radius:$border-r-xlarge;}

.large-radius{border-radius:$border-r-large;}

.show-grid{margin-bottom:15px; display: table; width: 100%;}

.show-grid [class^="col-fluid-"] {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #eee;
    background-color: rgba(86,61,124,.15);
    border: 1px solid #ddd;
    border: 1px solid rgba(86,61,124,.2);
    text-align:center;
    box-sizing: border-box;
}
.color-box{
    width:calc(100% / 5);
    @extend .mt10 ;
    @extend .pt5, .pl5, .pr5, .pb5;
    @extend .pull-left;
    @extend .text-center;
}

.padding-classes{
    h3{
    font-size:$large;
    color:$white;
    @extend .pt5, .pb5, .pr5, .pl5;
    background:$resources;
    }
    p{
    font-size:$mediumValue;
    }
}

.raw-classes{
    h3{
    font-size:$large;
    color:$white;
    @extend .pt5, .pb5, .pr5, .pl5;
    background:$resources;
    }
    p{
    font-size:$mediumValue;
    @extend .mt5, .mb5;
    font-weight:bold;
    }
}



