//
// Input groups
// --------------------------------------------------

$xsmall_input  : 70px;
$small_input   : 105px;
$medium_input  : 175px;
$large_input   : 280px;
$xlarge_input  : 350px;
$xxlarge_input : 420px;
$xxxlarge_input: 490px;
$select-width  : 245px;

.xsmall_input  {width:$xsmall_input;}
.small_input  {width:$small_input;}
.medium_input {width:$medium_input;}
.large_input  {width:$large_input;}
.xlarge_input {width:$xlarge_input;}
.xxlarge_input {width:$xxlarge_input;}
.xxxlarge_input {width:$xxxlarge_input;}

.form-element {
	display: inline-block;
	background-color: $grey;
	color: $white ;
	text-align:left;
	padding:4px 10px;
	line-height:$mediumValue;
	font-size:$small;
	min-height: 28px;
		height: 28px;
	border:1px solid $grey;
	height:28px \9;
	&:hover {
		background-color:$clients;
	}
	&:focus {
		border:1px solid $grey;
		outline:none;
	}
}
input[type="text"][disabled] {background:$grey;border-color:$grey;}
input[type='text'], .form-element{height:28px \9;}
.xsmall_input{
	@extend .form-element ;	
	width : $xsmall_input ;
}
.small_input{
	@extend .form-element ;	
	width : $small_input ;
}
.medium_input{
	@extend .form-element;
}
.large_input{
	@extend .form-element;
}
.xlarge_input{
	@extend .form-element;
}
.xxlarge_input{
	@extend .form-element ;
}
.xxxlarge_input{
	@extend .form-element ;
}
.input245 {
	@extend .form-element ;
}
.form-textarea{
	@extend .form-element;
	width:100% ;
	height:84px;
	resize:none;
}
.numberInputWrapper {
    display: inline-block;
    float: left;
    position: relative;
    width: auto;	
    .form-number {
        @extend .form-element;
        opacity: 0;
    }
    .form-number-value {
        @extend .form-element;
        display: inline-block;
        float: left;
        height: 28px;
        left: 0;
        position: absolute;
        width: 100%;
        z-index: -1;		
		padding-right: 38px;
		text-overflow: ellipsis;
    	white-space: pre;
		border:none;
		overflow:hidden;
    }
}

/***********input style end*********************/

/***********Select Style *********************/
.small_select{	
	width: 70px ;
}
.medium_select{
	width: 175px ;
}
.large_select{
	width: 280px ;
}
.xlarge_select{
	width: 350px ;
}
.xxlarge_select{
	width: 420px ;
}

.select-width{
	width: $select-width ;
}

.customSelectInner {	
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
	max-width: 100%;
    min-width: 100%;
}

.customSelectWrapper {float: left;position:relative;width: auto;display: inline-block;}
.custom-select{left:0;top:0;height:28px;box-shadow:none;outline:none;z-index: 1; background:$grey; color:$white;}
.custom-select option:disabled {display: none;}
.custom-select option {
    padding: 5px;
	font-size:$small;

}
[class^="col-fluid"] [class$="_select"] {width:100%;}
.hasEditButton{float:left;}

.customFileWrapper{ height: 28px;overflow: hidden;position: relative;}
.customFileWrapper input{opacity: 0;cursor:pointer;position: absolute;top: 0;z-index: 1}
.inputFileBtn {
left: 0;
position: absolute;
top: 0;
z-index: 0;
color:$grey;
text-align:left; 
padding:4px 10px;
line-height:$mediumValue;
font-size:$small;
border:1px dashed $grey;
height:100%;
width:100%;
background:url("./../images/file.png")no-repeat;
background-position: 98% center;}

.inputFileWrapper{
margin-top:7px;
	.fileName{
	padding:5px 10px;
	@extend .font-small;
	color:$grey;
	float:left;
	background:$grey;
	max-width:auto;margin-top:7px;
	span{cursor:pointer;@extend .ml5;word-wrap: break-word}
	}	
}

.fileName:first-child{margin-top:0;}
.fileName span:last-child{float:right;}
.fileName span:first-child{margin-left:0; float: left;cursor: default;}
.uploadedName{padding:5px 25px 5px 10px; @extend .font-small;color:$grey;float:left;background:$green; max-width:auto;margin-top:7px;max-width:200px;word-wrap: break-word;word-break: break-all;position:relative;
		span{cursor:pointer;word-wrap: break-word}
	}	
.uploadedName:first-child{margin-top:0;margin-left:0px;margin-right:10px}
.uploadedName span:last-child{position: absolute;
right: 5px;
top: 50%;
transform: translateY(-50%);}
.uploadedName span:first-child{margin-left:0; float: left;cursor: default;min-width:140px}


.crosslable {padding:10px 25px 10px 10px;font-size:$mediumValue; color:$white;float: left;background: $clients none repeat scroll 0% 0%;border-radius: 5px;margin-top: 7px;word-wrap: break-word;word-break: break-all;position: relative;width:200px;}
.crosslable span {cursor: pointer;word-wrap: break-word; line-height:18px;}
.crosslable span:last-child {position: absolute;right:10px;top: 50%;transform: translateY(-50%);}
.crosslable span:last-child:hover {opacity:.5;}

::-webkit-input-placeholder {color: #D9D9D6;opacity:1;}
:-moz-placeholder {color: #D9D9D6;opacity:1;}
::-moz-placeholder {color: #D9D9D6;opacity:1;}
:-ms-input-placeholder {color: #D9D9D6;opacity:1;}

.xxxlarge_input::-webkit-input-placeholder {color: #C8C9C7;}
.xxxlarge_input:-moz-placeholder {color: #C8C9C7;}
.xxxlarge_input::-moz-placeholder {color: #C8C9C7;}
.xxxlarge_input:-ms-input-placeholder {color: #C8C9C7;}