$columns: 12;
$column-width: 90px;
$gutter: 0px;
$padding: 0px;
[class*="col-"] {float: left;min-height: 1px;display:inline-block;vertical-align: text-bottom;     box-sizing: border-box;}
[class^="col-fluid"]{width:100%;     box-sizing: border-box;}
.container {
  max-width: 320px;
  width:100%; 
  padding:0 35px;
  margin:0px auto;
  display:table;
  @media screen and (min-width:767px){
    max-width: 767px; 
    padding:0;
  }
  @media screen and (min-width:1200px){
    max-width: 1200px; 
  }
} 
.column {
  margin: 0 $gutter;
  overflow: hidden;
  float: left;
  display: inline;
}
.container .row {
  margin-left: ($gutter * -1);
  margin-right: ($gutter * -1);
  width: 100%;
  display: inline-block;
  float: left;
  box-sizing: border-box;
}
.row + .row{margin-top:7px}
.row-fluid-15 { width: 100%;*zoom: 1; }
.row-fluid-15:before, .row-fluid-15:after { display: table; content: "";  line-height: 0;}
.row-fluid-15:after { clear: both;}
.col-15 ,.col-14 ,.col-13 ,.col-12 ,.col-11 ,.col-10 ,.col-9 ,.col-8 ,.col-7 ,.col-6 ,.col-5 ,.col-4 ,.col-3 ,.col-1 ,.col-2 {width: 100%; margin:0;}

@media only screen and (min-width:640px){
  .container .row {
    margin-left: ($gutter * -1);
    margin-right: ($gutter * -1);
    width: auto;
    display: inline-block;
  }
}


@media screen and (min-width:1050px){
$width: ($column-width * $columns) + ($gutter * ($columns));
// Set Base Container
@for $i from 1 to $columns + 1{
// Calculate grid size in pixels
  $col: ($column-width * $i) + ($gutter * ($i));
  $col: $col;
  .col-#{$i}
  {
  width: $col;
  float: left;
  margin-left: $gutter;
  }
}

//column Fluid 
 $columnsFluid: 12;
  $columnWidthFluid:100%/$columnsFluid;
   @for $i from 1 through $columnsFluid {
    .col-fluid-#{$i} {
      width: percentage($i / $columnsFluid);
      float: left;
    }
  }
.row-fluid{width:100%;float:left;}
  .row-fluid:before, .row-fluid::after {content:"";display: table;line-height: 0;}
  .row-fluid:after {clear: both;}
}