//
// Tooltips
// --------------------------------------------------

button.close {
  -webkit-appearance: none;
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0;
}
.modal-open {
  overflow: hidden;
}
.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  display: none;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  outline: 0;
}
.modal.fade.in .modal-dialog {
}
.modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto;
}
.modal-dialog {
  position:absolute;
  top: 50%;
  left:50%;
  width: 280px;
  margin: 10px auto;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
       -o-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
@media screen and (min-width: 630px){
.modal-dialog {
    width: 490px;
}
}
.modal-content {
  position: relative;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  outline: 0;
  overflow:hidden;
}
.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color:rgba(0,0,0,.5);
}
.modal-backdrop.fade {
  filter: alpha(opacity=0);
  opacity: 0;
}
.modal-backdrop.in {
  filter: alpha(opacity=80);
  opacity:.8;
}
.modal-header {
  	background:$group ;
	display: inline-block;
	color:$white;
	@extend .pad35;
	@extend .font-medium;
	padding-top:22px;
	padding-bottom:22px;
	line-height:$large;	
      width: 100%;
    float: left;
    display: inline-block;
}
.modal-header .close {
  margin-top: -2px;
}
.modal-title {
  margin: 0;
  line-height: 1.42857143;
  text-align:left;
}
.modal-body {
 	position: relative;
  	padding-top: 15px;
  	background:$grey;
    width: 100%;
    float: left;
    display: inline-block;
}
.modal-body-content{
	@extend .pad35;
	padding-bottom:30px;
}
.modal-body .labelDiv{margin-top:5px;}
.modal-footer {
  padding-top: 21px;
  padding-bottom:21px;
  @extend.pad35;
  padding-top: 21px;
  padding-bottom: 21px;
  background: #d1d2d7;
  width: 100%;
  float: left;
  display: inline-block;
}
@media (max-width: 629px) {
  
}
@media (min-width: 630px) {
  
  .modal-sm {width: 300px;}
  .modal-mid{width: 500px;}
}