// Radio button

.radioDiv {
    display: inline-block;
    float: left;
    height: 28px;
    padding: 5px 0;
    width: auto;
	min-width:105px;
}
.radioButton[type="radio"]{display: none;}
.radioButton[type="radio"] + label.form-label:before{
	width:$mediumValue;
	height:$mediumValue;
	content: '';
	display: inline-block;	
	float:left;
	position:absolute;
	left:0;
	top: 0;
	background-image: url("../images/radioButton1.png");
	background-size:cover;
}
.radioButton[type="radio"] + label.form-label:hover:before{
	background-image: url("../images/radioButton-fill.png");
}
.radioButton[type="radio"]:checked  + label.form-label:before{
	background-image: url("../images/radioButton-fill.png");
}