[class*="col-"] {
  float: left;
  min-height: 1px;
  display: inline-block;
  vertical-align: text-bottom;
  box-sizing: border-box; }

[class^="col-fluid"] {
  width: 100%;
  box-sizing: border-box; }

.container {
  max-width: 320px;
  width: 100%;
  padding: 0 35px;
  margin: 0px auto;
  display: table; }
  @media screen and (min-width: 767px) {
    .container {
      max-width: 767px;
      padding: 0; } }
  @media screen and (min-width: 1200px) {
    .container {
      max-width: 1200px; } }

.column {
  margin: 0 0px;
  overflow: hidden;
  float: left;
  display: inline; }

.container .row {
  margin-left: 0px;
  margin-right: 0px;
  width: 100%;
  display: inline-block;
  float: left;
  box-sizing: border-box; }

.row + .row {
  margin-top: 7px; }

.row-fluid-15 {
  width: 100%;
  *zoom: 1; }

.row-fluid-15:before, .row-fluid-15:after {
  display: table;
  content: "";
  line-height: 0; }

.row-fluid-15:after {
  clear: both; }

.col-15, .col-14, .col-13, .col-12, .col-11, .col-10, .col-9, .col-8, .col-7, .col-6, .col-5, .col-4, .col-3, .col-1, .col-2 {
  width: 100%;
  margin: 0; }

@media only screen and (min-width: 640px) {
  .container .row {
    margin-left: 0px;
    margin-right: 0px;
    width: auto;
    display: inline-block; } }
@media screen and (min-width: 1050px) {
  .col-1 {
    width: 90px;
    float: left;
    margin-left: 0px; }

  .col-2 {
    width: 180px;
    float: left;
    margin-left: 0px; }

  .col-3 {
    width: 270px;
    float: left;
    margin-left: 0px; }

  .col-4 {
    width: 360px;
    float: left;
    margin-left: 0px; }

  .col-5 {
    width: 450px;
    float: left;
    margin-left: 0px; }

  .col-6 {
    width: 540px;
    float: left;
    margin-left: 0px; }

  .col-7 {
    width: 630px;
    float: left;
    margin-left: 0px; }

  .col-8 {
    width: 720px;
    float: left;
    margin-left: 0px; }

  .col-9 {
    width: 810px;
    float: left;
    margin-left: 0px; }

  .col-10 {
    width: 900px;
    float: left;
    margin-left: 0px; }

  .col-11 {
    width: 990px;
    float: left;
    margin-left: 0px; }

  .col-12 {
    width: 1080px;
    float: left;
    margin-left: 0px; }

  .col-fluid-1 {
    width: 8.3333333333%;
    float: left; }

  .col-fluid-2 {
    width: 16.6666666667%;
    float: left; }

  .col-fluid-3 {
    width: 25%;
    float: left; }

  .col-fluid-4 {
    width: 33.3333333333%;
    float: left; }

  .col-fluid-5 {
    width: 41.6666666667%;
    float: left; }

  .col-fluid-6 {
    width: 50%;
    float: left; }

  .col-fluid-7 {
    width: 58.3333333333%;
    float: left; }

  .col-fluid-8 {
    width: 66.6666666667%;
    float: left; }

  .col-fluid-9 {
    width: 75%;
    float: left; }

  .col-fluid-10 {
    width: 83.3333333333%;
    float: left; }

  .col-fluid-11 {
    width: 91.6666666667%;
    float: left; }

  .col-fluid-12 {
    width: 100%;
    float: left; }

  .row-fluid {
    width: 100%;
    float: left; }

  .row-fluid:before, .row-fluid::after {
    content: "";
    display: table;
    line-height: 0; }

  .row-fluid:after {
    clear: both; } }

/*# sourceMappingURL=grid.css.map */
